---
import "@css/tailwind.css"
import "@css/fonts.css"
import "swiper/css/bundle"

import SEO from "📱/components/SEO/SEO.astro"
import { ClientRouter } from "astro:transitions"
import { Font } from "astro:assets"
---

<script>
	import Observer from "📱/scripts/Observer.ts"

	const observer = new Observer()
	observer.observe()

	const storedTheme = localStorage.getItem("theme")
	const html = document.documentElement

	const appleTouchIcon = document.querySelector(
		"link[rel='apple-touch-icon']",
	) as HTMLLinkElement
	const favicon32 = document.querySelector(
		"link[rel='icon'][sizes='32x32']",
	) as HTMLLinkElement
	const favicon16 = document.querySelector(
		"link[rel='icon'][sizes='16x16']",
	) as HTMLLinkElement
	const favicon = document.querySelector("link[rel='icon']") as HTMLLinkElement
	const manifest = document.querySelector(
		"link[rel='manifest']",
	) as HTMLLinkElement

	if (storedTheme) {
		html.setAttribute("data-theme", storedTheme)

		favicon.href = `/${storedTheme}.ico`
		favicon32.href = `/${storedTheme}_32x32.png`
		favicon16.href = `/${storedTheme}_16x16.png`
		manifest.href = `/${storedTheme}.webmanifest`
		appleTouchIcon.href = `/${storedTheme}-apple.png`
	} else {
		const isDark = window.matchMedia("(prefers-color-scheme: dark)").matches
		if (isDark) {
			html.setAttribute("data-theme", "reichi")
			favicon.href = "/reichi.ico"
			favicon32.href = "/reichi_32x32.png"
			favicon16.href = "/reichi_16x16.png"
			manifest.href = "/reichi.webmanifest"
			appleTouchIcon.href = "/reichi-apple.png"
		}
		html.setAttribute("data-theme", "pinkmin")
		favicon.href = "/pinkmin.ico"
		favicon32.href = "/pinkmin_32x32.png"
		favicon16.href = "/pinkmin_16x16.png"
		manifest.href = "/pinkmin.webmanifest"
		appleTouchIcon.href = "/pinkmin.png"
	}
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<slot name="seo">
			<SEO />
		</slot>
		<ClientRouter />
		<!-- ─── ⋆⋅☆⋅⋆ ─── -->
		<Font
			cssVariable="--font-orvwindowconfig"
			preload
		/>
		<!-- <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "pinkmin");
      } else {
        document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
      } -->
	</head>

	<body>
		<slot />
	</body>
</html>
